<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>
{{#each pics}}

<div class="pic-item">
  <img src="{{this.picPath}}" alt="">
  <h4>{{this.content}}</h4>
  <a href='/detail/{{this._id}}'>View Detail</a>
</div>
{{else}}
<p>There are no pictures yet! </p>
{{/each}}
</body>

</html>


